<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ispresearch.bluetoothsensor">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="android.permission.BLUETOOTH"
        android:label="BLUETOOTH" />
    <permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.ispresearch.bluetoothsensor.BluetoothSensor"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ispresearch.bluetoothsensor.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ispresearch.bluetoothsensor.graph.GraphActivity" />
        <activity android:name="com.ispresearch.bluetoothsensor.savedata.SaveDataActivity" />
        <activity android:name="com.ispresearch.bluetoothsensor.alldataentities.AllDataEntitiesActivity" />
        <activity android:name="com.ispresearch.bluetoothsensor.analysisgraph.AnalysisGraphActivity"></activity>
    </application>

</manifest>